In [1]:
import pandas as pd

In [2]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df=pd.read_csv('Churn_Modelling.csv')

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
X=df.iloc[:,3:13].values
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [6]:
y=df.iloc[:,13].values

In [7]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [8]:
label=LabelEncoder()

In [9]:
X[:,1]=label.fit_transform(X[:,1])

In [10]:
label_2=LabelEncoder()

In [11]:
X[:,2]=label_2.fit_transform(X[:,2])

In [12]:
X.shape

(10000, 10)

In [13]:
one=OneHotEncoder(categorical_features=[1])

In [14]:
X=one.fit_transform(X).toarray()

In [15]:
dd=pd.DataFrame(X)

In [16]:
dd.head()

    0    1    2      3    4     5    6          7    8    9    10         11
0  1.0  0.0  0.0  619.0  0.0  42.0  2.0       0.00  1.0  1.0  1.0  101348.88
1  0.0  0.0  1.0  608.0  0.0  41.0  1.0   83807.86  1.0  0.0  1.0  112542.58
2  1.0  0.0  0.0  502.0  0.0  42.0  8.0  159660.80  3.0  1.0  0.0  113931.57
3  1.0  0.0  0.0  699.0  0.0  39.0  1.0       0.00  2.0  0.0  0.0   93826.63
4  0.0  0.0  1.0  850.0  0.0  43.0  2.0  125510.82  1.0  1.0  1.0   79084.10

In [17]:
X=X[:,1:]

In [18]:
ddd=pd.DataFrame(X)

In [19]:
ddd.head()

    0    1      2    3     4    5          6    7    8    9          10
0  0.0  0.0  619.0  0.0  42.0  2.0       0.00  1.0  1.0  1.0  101348.88
1  0.0  1.0  608.0  0.0  41.0  1.0   83807.86  1.0  0.0  1.0  112542.58
2  0.0  0.0  502.0  0.0  42.0  8.0  159660.80  3.0  1.0  0.0  113931.57
3  0.0  0.0  699.0  0.0  39.0  1.0       0.00  2.0  0.0  0.0   93826.63
4  0.0  1.0  850.0  0.0  43.0  2.0  125510.82  1.0  1.0  1.0   79084.10

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
sc=StandardScaler()

In [24]:
X_train=sc.fit_transform(X_train)

In [25]:
X_test=sc.fit_transform(X_test)

In [26]:
import keras

Using Theano backend.
WARNING (theano.configdefaults): g++ not available, if using conda: `conda install m2w64-toolchain`
WARNING (theano.configdefaults): g++ not detected ! Theano will be unable to execute optimized C-implementations (for both CPU and GPU) and will default to Python implementations. Performance will be severely degraded. To remove this warning, set Theano flags cxx to an empty string.

In [27]:
from keras.models import Sequential

In [28]:
from keras.layers import Dense

In [29]:
classifier=Sequential()

In [30]:
classifier.add(Dense(units=6,activation='relu',kernel_initializer='uniform',input_dim=11))

In [31]:
classifier.add(Dense(units=6,kernel_initializer='uniform',activation='relu'))

In [32]:
classifier.add(Dense(units=1,kernel_initializer='uniform',activation='sigmoid'))

In [33]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [34]:
classifier.fit(X_train,y_train,batch_size=10,epochs=5)

Epoch 1/5
8000/8000 [==============================] - 45s - loss: 0.4871 - acc: 0.7955
Epoch 2/5
8000/8000 [==============================] - 50s - loss: 0.4267 - acc: 0.7960    - ETA: 0s - loss: 0.4269 - acc: 0.7
Epoch 3/5
8000/8000 [==============================] - 47s - loss: 0.4201 - acc: 0.8176    - ETA: 0s - loss: 0.4199
Epoch 4/5
8000/8000 [==============================] - 54s - loss: 0.4144 - acc: 0.8294    - ETA: 1s
Epoch 5/5
8000/8000 [==============================] - 47s - loss: 0.4100 - acc: 0.8314

In [35]:
y_pred=classifier.predict(X_test)

In [36]:
y_pred=(y_pred>0.45)

In [37]:
from sklearn.metrics import confusion_matrix

In [38]:
cm=confusion_matrix(y_test,y_pred)

In [39]:
cm

array([[1525,   70],
       [ 238,  167]], dtype=int64)

In [43]:
print('Accuracy is ',(1525+167)/2000)

Accuracy is  0.846